<h1>Listing item_categories</h1>

<table>
  <tr>
    <th><%= label :item_category, :type_sym %></th>
    <th><%= label :item_category, :name %></th>
    <th><%= label :item_category, :body_part %></th>
    <th><%= label :item_category, :rq_slot_num %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_categories.each do |item_category| %>
  <tr>
    <td><%= item_category.type_sym_txt %></td>
    <td><%= item_category.name %></td>
    <td><%= item_category.body_part.name unless item_category.body_part.blank? %></td>
    <td><%= item_category.rq_slot_num %></td>
    <td><%= link_to 'Show', item_category %></td>
    <td><%= link_to 'Edit', edit_item_category_path(item_category) %></td>
    <td><%= link_to 'Destroy', item_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item category', new_item_category_path %>
