<p id="notice"><%= notice %></p>

<p>
  <b><%= label :item_category, :type_sym %>:</b>
  <%= @item_category.type_sym_txt %>
</p>

<p>
  <b><%= label :item_category, :name %>:</b>
  <%= @item_category.name %>
</p>

<p>
  <b><%= label :item_category, :body_part %>:</b>
  <%= @item_category.body_part.name unless @item_category.body_part.blank? %>
</p>

<p>
  <b><%= label :item_category, :rq_slot_num %>:</b>
  <%= @item_category.rq_slot_num %>
</p>


<%= link_to 'Edit', edit_item_category_path(@item_category) %> |
<%= link_to 'Back', item_categories_path %>
