<p id="notice"><%= notice %></p>

<p>
  <b><%= label :specie_job_inv, :specie %>:</b>
  <%= @specie_job_inv.specie.name unless @specie_job_inv.specie.blank? %>
</p>

<p>
  <b><%= label :specie_job_inv, :job %>:</b>
  <%= @specie_job_inv.job.name unless @specie_job_inv.job.blank? %>
</p>

<p>
  <b><%= label :specie_job_inv, :frequency_rate %>:</b>
  <%= @specie_job_inv.frequency_rate %>
</p>


<%= link_to 'Edit', edit_specie_job_inv_path(@specie_job_inv) %> |
<%= link_to 'Back', specie_job_invs_path %>
