<h1>Listing researches</h1>

<table>
  <tr>
    <th><%= label :research, :id %></th>
    <th><%= label :research, :houdd_user %></th>
    <th><%= label :research, :symbol %></th>
    <th><%= label :research, :level %></th>
    <th><%= label :research, :allotment %></th>
    <th><%= label :research, :invested_point %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @researches.each do |research| %>
  <tr>
    <td><%= research.id %></td>
    <td><%= research.houdd_user.name unless research.houdd_user.blank? %></td>
    <td><%= research.symbol %></td>
    <td><%= research.level %></td>
    <td><%= research.allotment %></td>
    <td><%= research.invested_point %></td>
    <td><%= link_to 'Show', research %></td>
    <td><%= link_to 'Edit', edit_research_path(research) %></td>
    <td><%= link_to 'Destroy', research, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Research', new_research_path %>
