<%= form_for(@trial) do |f| %>
  <% if @trial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial.errors.count, "error") %> prohibited this trial from being saved:</h2>

      <ul>
      <% @trial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mini_map %><br />
    <%= f.collection_select(:mini_map_id, MiniMap.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :map_name %><br />
    <%= f.text_field :map_name %>
  </div>
  <div class="field">
    <%= f.label :guard_mission_id %><br />
    <%= f.number_field :guard_mission_id %>
  </div>
  <div class="field">
    <%= f.label :intruder_mission_id %><br />
    <%= f.number_field :intruder_mission_id %>
  </div>
  <div class="field">
    <%= f.label :occurred_at %><br />
    <%= f.number_field :occurred_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
