<h1>Listing job_skill_invs</h1>

<table>
  <tr>
    <th><%= label :job_skill_inv, :skill %></th>
    <th><%= label :job_skill_inv, :job %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_skill_invs.each do |job_skill_inv| %>
  <tr>
    <td><%= job_skill_inv.skill.name unless job_skill_inv.skill.blank? %></td>
    <td><%= job_skill_inv.job.name unless job_skill_inv.job.blank? %></td>
    <td><%= link_to 'Show', job_skill_inv %></td>
    <td><%= link_to 'Edit', edit_job_skill_inv_path(job_skill_inv) %></td>
    <td><%= link_to 'Destroy', job_skill_inv, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job skill inv', new_job_skill_inv_path %>
