  <div id="sidebar">
    <h3 class="sidebar-title">メニュー</h3>
    <ul>
      <li><%= link_to 'TOP', :controller => "my_page", :action => "top" %></a></li>
      <li><%= link_to '生産管理', :controller => "my_page", :action => "production_que_index" %></a></li>
      <li><%= link_to '領土', :controller => "my_page", :action => "mini_map_index" %></a></li>
      <li><%= link_to '研究', :controller => "my_page", :action => "edit_research" %></li>
      <li><%= link_to 'MOB', :controller => "my_page", :action => "mob_index" %></a></li>
      <li><%= link_to 'アイテム', :controller => "my_page", :action => "item_index" %></a></li>
      <li><%= link_to '戦術', :controller => "my_page", :action => "strategy_index" %></a></li>
      <li><%= link_to 'ミッション', :controller => "my_page", :action => "mission_index" %></a></li>
    </ul>
  </div>