<%= render 'my_page_menu' %>
<div id="contents">
  <h3>領土管理</h3>
  <table class="normal">
    <thead>
      <tr>
        <th>マップ名称</th>
        <th>食料</th>
        <th>生産力</th>
        <th>お金</th>
        <th>資源</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @mini_maps.each do |mini_map| %>
      <tr>
        <td><%= mini_map.name %></td>
        <td><div class="number"><%= mini_map.foods_total %></div></td>
        <td><div class="number"><%= mini_map.productions_total %></div></td>
        <td><div class="number"><%= mini_map.moneys_total %></div></td>
        <td><%= mini_map.sp_resources_txt %></td>
        <td>
          マップ(<%= link_to '地形', mini_map.id.to_s + "/show_mini_map_terrains" %>
          <%= link_to '資源', mini_map.id.to_s + "/show_mini_map_sp_resources" %>
          <%= link_to '建築', mini_map.id.to_s + "/edit_mini_map_constructions" %>)<br />
          <%= link_to '道路設定(' + mini_map.mini_map_roads.size.to_s + ')', mini_map.id.to_s + "/road_index" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>