<%= render 'my_page_menu' %>
<div id="contents">
  <% unless flash[:errors].blank? %>
  <div id="error_explanation">
    エラーが発生しました。
    <ul>
      <% flash[:errors].full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <% unless flash[:success].blank? %>
  <script language="JavaScript">
  alert("更新が完了しました。");
  </script>
  <% end %>
  <h3>生産管理</h3>
  総生産工数：<%= @houdd_user.productions_total %>
   (アイテム製造：<%= @houdd_user.allotment_total_of_production_que %>, 研究：<%= @houdd_user.allotment_total_of_research %>)<br />
  未割り当て工数：<%= @houdd_user.remaining_production_total %><br />
  <br />
  <%= form_tag({:action => 'update_production_ques'}, {:method => :put}) do %>
  <table class="normal">
    <thead>
      <tr>
        <th>生産物</th>
        <th>状態</th>
        <th>生産工数</th>
        <th>優先順位</th>
        <th>蓄積ポイント</th>
        <th>完了予定</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% for production_que in @production_ques %>
      <tr>
        <td>
          <%= hidden_field_tag("production_ques[][id]", production_que.id) %>
          <%= production_que.item_txt %>
        </td>
        <td><%= production_que.status_txt %></td>
        <td>
          <div class="number">
            <%= text_field_tag("production_ques[][allotment]", production_que.allotment, :class=>'number4') %>
          </div>
        </td>
        <td>
          <div class="number">
            <%= text_field_tag("production_ques[][priority]", production_que.priority, :class=>'number3') %>
          </div>
        </td>
        <td>
          <div class="number"><%= production_que.que_item.built_point %></div>
        </td>
        <td>
          <%= production_que.complete_date_txt %>
        </td>
        <td>
          <input id="delete_production_que_<%= production_que.id %>" type="button" value="削除" <% if production_que.destroy_flg %> disabled <% end %> />
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <div class='indent1'>
    <%= submit_tag "更新", confirm: '更新してよろしいですか?' %>
  </div>
  <% end %>
</div>