<%= render 'my_page_menu' %>
<div id="contents">
  <% unless flash[:errors].blank? %>
  <div id="error_explanation">
    <h3>エラーが発生しました。</h3>
    <ul>
      <% flash[:errors].full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% unless flash[:success].blank? %>
  <script language="JavaScript">
  alert("更新が完了しました。");
  </script>
  <% end %>

  <h3>研究</h3>
  総生産工数：<%= @houdd_user.productions_total %>
   (アイテム製造：<%= @houdd_user.allotment_total_of_production_que %>, 研究：<%= @houdd_user.allotment_total_of_research %>)<br />
  未割り当て工数：<%= @houdd_user.remaining_production_total %><br />
  <br />
  <%= form_tag({:action => 'update_researches'}, {:method => :put}) do %>
  <table class="normal">
    <thead>
      <tr>
        <th>種類</th>
        <th>レベル</th>
        <th>蓄積ポイント</th>
        <th>完了予定</th>
        <th>割り当て工数</th>
      </tr>
    </thead>
    <tbody>
      <% for research in @houdd_user.researches %>
      <tr>
        <td>
          <%= hidden_field_tag("researches[][id]", research.id) %>
          <%= research.name %>
        </td>
        <td><div class="number"><%= research.level %></div></td>
        <td><div class="number"><%= research.invested_point %></div></td>
        <td>
          <%= research.complete_date_txt %>
        </td>
        <td>
          <div class="number">
            <%= text_field_tag("researches[][allotment]", research.allotment, :class=>'number4') %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br />
  <div class='indent1'>
    <%= submit_tag "更新", confirm: '更新してよろしいですか?' %>
  </div>
  <% end %>
</div>