<%= render 'my_page_menu' %>
<div id="contents">
  <%= render :partial => 'layouts/edit_messages' %>

  <h3>アイテム生産</h3>
  アイテム種別：<%= select(:mypage, :type_symbol, Params::ITEM_SYMBOL_DESCRIPTIONS, :include_blank => true) %><br />
  <br />
  <%= form_tag :action => 'new_item' do %>
  <%= render 'select_item_info' %><br />
  <%= submit_tag "生産開始" %>
  <% end %>
</div>