<h1>Listing houdd_users</h1>

<table>
  <tr>
    <th>ID</th>
    <th><%= label :houdd_user, :name %></th>
    <th><%= label :houdd_user, :admin_flg %></th>
    <th><%= label :houdd_user, :login_id %></th>
    <th><%= label :houdd_user, :login_pw %></th>
    <th><%= label :houdd_user, :last_login_at %></th>
    <th><%= label :houdd_user, :active_flg %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @houdd_users.each do |houdd_user| %>
  <tr>
    <td><%= houdd_user.id %></td>
    <td><%= houdd_user.name %></td>
    <td><%= houdd_user.admin_flg %></td>
    <td><%= houdd_user.login_id %></td>
    <td><%= houdd_user.login_pw %></td>
    <td><%= houdd_user.last_login_at %></td>
    <td><%= houdd_user.active_flg %></td>
    <td><%= link_to 'Show', houdd_user %></td>
    <td><%= link_to 'Edit', edit_houdd_user_path(houdd_user) %></td>
    <td><%= link_to 'Destroy', houdd_user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Houdd user', new_houdd_user_path %>
