<p id="notice"><%= notice %></p>

<p>
  <b><%= label :mob, :houdd_user %>:</b>
  <%= @mob.houdd_user.name unless @mob.houdd_user.blank? %>
</p>

<p>
  <b><%= label :mob, :specie %>:</b>
  <%= @mob.specie.name unless @mob.specie.blank? %>
</p>

<p>
  <b><%= label :mob, :father_id %>:</b>
  <% unless @mob.father.blank? %>
  <%= link_to @mob.father.name, '/mobs/' + @mob.father.id.to_s, {:target => "_blank"} %>
  <% end %>
</p>

<p>
  <b><%= label :mob, :mother_id %>:</b>
  <% unless @mob.mother.blank? %>
  <%= link_to @mob.mother.name, '/mobs/' + @mob.mother.id.to_s, {:target => "_blank"} %>
  <% end %>
</p>

<p>
  <b><%= label :mob, :generation %>:</b>
  <%= @mob.generation %>
</p>

<p>
  <b><%= label :mob, :job %>:</b>
  <%= @mob.job.name unless @mob.job.blank? %>
</p>

<p>
  <b><%= label :mob, :squad %>:</b>
  <%= @mob.squad.name unless @mob.squad.blank? %>
</p>

<p>
  <b><%= label :mob, :name %>:</b>
  <%= @mob.name %>
</p>

<p>
  <b><%= label :mob, :gender_sym %>:</b>
  <%= @mob.gender_sym_txt %>
</p>

<p>
  <b><%= label :mob, :age %>:</b>
  <%= @mob.age %>
</p>

<p>
  <b><%= label :mob, :hp %>:</b>
  <%= @mob.hp %>
</p>

<p>
  <b><%= label :mob, :sp %>:</b>
  <%= @mob.sp %>
</p>

<p>
  <b><%= label :mob, :str %>:</b>
  <%= @mob.str %>
</p>

<p>
  <b><%= label :mob, :dex %>:</b>
  <%= @mob.dex %>
</p>

<p>
  <b><%= label :mob, :con %>:</b>
  <%= @mob.con %>
</p>

<p>
  <b><%= label :mob, :int %>:</b>
  <%= @mob.int %>
</p>

<p>
  <b><%= label :mob, :wis %>:</b>
  <%= @mob.wis %>
</p>

<p>
  <b><%= label :mob, :cha %>:</b>
  <%= @mob.cha %>
</p>

<p>
  <b><%= label :mob, :phys_def %>:</b>
  <%= @mob.phys_def %>
</p>

<p>
  <b><%= label :mob, :skill_def %>:</b>
  <%= @mob.skill_def %>
</p>

<p>
  <b><%= label :mob, :ele_fw %>:</b>
  <%= @mob.ele_fw %>
</p>

<p>
  <b><%= label :mob, :ele_ld %>:</b>
  <%= @mob.ele_ld %>
</p>

<p>
  <b><%= label :mob, :natural_death_flg %>:</b>
  <%= @mob.natural_death_flg %>
</p>


<%= link_to 'Edit', edit_mob_path(@mob) %> |
<%= link_to 'Back', mobs_path %>
