  <div id="admin_sidebar">
    <h2>メニュー</h2>
    <ul>
      <li><%= link_to 'TOP', :controller => "admin_page", :action => "top" %></a></li>
      <li><%= link_to 'ミニマップ管理', :controller => "admin_page", :action => "mini_map_maintenance" %></a></li>
      <li><%= link_to 'MOB管理', :controller => "admin_page", :action => "mob_maintenance" %></a></li>
      <li><%= link_to 'アイテム管理', :controller => "admin_page", :action => "mini_map_maintenance" %></a></li>
      <li><%= link_to '時間進行', :controller => "admin_page", :action => "time_forward" %></li>
      <li><%= link_to 'データ管理', :controller => "admin_page", :action => "data_maintenance" %></li>
    </ul>
  </div>