<%= render 'admin_page_menu' %>
<div id="contents">
  <%= render :partial => 'layouts/edit_messages' %>

  <h3 class="admin_normal">キュー管理</h3>
  現在のキュー内アイテム数：<%= ProductionQueue.all.length %><br />
  <br />
  <%= form_tag({:action => 'update_queue'}, {:method => :put}) do %>
  キュー更新：<%= text_field_tag "queue_update_times",'',:class=>'number3' %> 回分 <%= submit_tag "更新" %>
  <% end %>
</div>