<h1>Listing item_info_status_mod_invs</h1>

<table>
  <tr>
    <th><%= label :item_info_status_mod_inv, :status_mod %></th>
    <th><%= label :item_info_status_mod_inv, :item_info %></th>
    <th><%= label :item_info_status_mod_inv, :num_of_tgt %></th>
    <th><%= label :item_info_status_mod_inv, :duration %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_info_status_mod_invs.each do |item_info_status_mod_inv| %>
  <tr>
    <td><%= item_info_status_mod_inv.status_mod.name unless item_info_status_mod_inv.status_mod.blank? %></td>
    <td><%= item_info_status_mod_inv.item_info.name unless item_info_status_mod_inv.item_info.blank? %></td>
    <td><%= item_info_status_mod_inv.num_of_tgt %></td>
    <td><%= item_info_status_mod_inv.duration %></td>
    <td><%= link_to 'Show', item_info_status_mod_inv %></td>
    <td><%= link_to 'Edit', edit_item_info_status_mod_inv_path(item_info_status_mod_inv) %></td>
    <td><%= link_to 'Destroy', item_info_status_mod_inv, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status mod inv', new_item_info_status_mod_inv_path %>
