<p id="notice"><%= notice %></p>

<p>
  <b><%= label :item_info_status_mod_inv, :status_mod %>:</b>
  <%= @item_info_status_mod_inv.status_mod.name unless @item_info_status_mod_inv.status_mod.blank? %>
</p>

<p>
  <b><%= label :item_info_status_mod_inv, :item_info %>:</b>
  <%= @item_info_status_mod_inv.item_info.name unless @item_info_status_mod_inv.item_info.blank? %>
</p>

<p>
  <b><%= label :item_info_status_mod_inv, :num_of_tgt %>:</b>
  <%= @item_info_status_mod_inv.num_of_tgt %>
</p>

<p>
  <b><%= label :item_info_status_mod_inv, :duration %>:</b>
  <%= @item_info_status_mod_inv.duration %>
</p>

<%= link_to 'Edit', edit_item_info_status_mod_inv_path(@item_info_status_mod_inv) %> |
<%= link_to 'Back', item_info_status_mod_invs_path %>
