<%= form_for(@squad) do |f| %>
  <% if @squad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@squad.errors.count, "error") %> prohibited this squad from being saved:</h2>

      <ul>
      <% @squad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :houdd_user %><br />
    <%= f.text_field :houdd_user %>
  </div>
  <div class="field">
    <%= f.label :mini_map %><br />
    <%= f.text_field :mini_map %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
