<h1>Listing items</h1>

<table>
  <tr>
    <th><%= label :item, :item_info %></th>
    <th><%= label :item, :houdd_user %></th>
    <th><%= label :item, :mob %></th>
    <th><%= label :item, :dp %></th>
    <th><%= label :item, :quality %></th>
    <th><%= label :item, :built_point %></th>
    <th><%= label :item, :active_flg %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.item_info.name unless item.item_info.blank? %></td>
    <td><%= item.houdd_user.name unless item.houdd_user.blank? %></td>
    <td><%= item.mob.name unless item.mob.blank? %></td>
    <td><%= item.dp %></td>
    <td><%= item.quality %></td>
    <td><%= item.built_point %></td>
    <td><%= item.active_flg %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
