<h1>Listing fortress_cells</h1>

<table>
  <tr>
    <th><%= label :fortress_cell, :mini_map %></th>
    <th><%= label :fortress_cell, :symbol %></th>
    <th><%= label :fortress_cell, :x %></th>
    <th><%= label :fortress_cell, :y %></th>
    <th><%= label :fortress_cell, :trap_id %></th>
    <th><%= label :fortress_cell, :squad_id %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fortress_cells.each do |fortress_cell| %>
  <tr>
    <td><%= fortress_cell.mini_map.name unless fortress_cell.mini_map.blank? %></td>
    <td><%= fortress_cell.symbol %></td>
    <td><%= fortress_cell.x %></td>
    <td><%= fortress_cell.y %></td>
    <td><%= fortress_cell.trap_id %></td>
    <td><%= fortress_cell.squad_id %></td>
    <td><%= link_to 'Show', fortress_cell %></td>
    <td><%= link_to 'Edit', edit_fortress_cell_path(fortress_cell) %></td>
    <td><%= link_to 'Destroy', fortress_cell, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fortress cell', new_fortress_cell_path %>
