<%= form_for(@specie_status_mod_inv) do |f| %>
  <% if @specie_status_mod_inv.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@specie_status_mod_inv.errors.count, "error") %> prohibited this specie_status_mod_inv from being saved:</h2>

      <ul>
      <% @specie_status_mod_inv.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status_mod %><br />
    <%= f.collection_select(:status_mod_id, StatusMod.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :specie %><br />
    <%= f.collection_select(:owner_id, Specie.find(:all), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :num_of_tgt %><br />
    <%= f.number_field :num_of_tgt %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.number_field :duration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
