<h1>Listing specie_status_mod_invs</h1>

<table>
  <tr>
    <th><%= label :specie_status_mod_inv, :status_mod %></th>
    <th><%= label :specie_status_mod_inv, :specie %></th>
    <th><%= label :specie_status_mod_inv, :num_of_tgt %></th>
    <th><%= label :specie_status_mod_inv, :duration %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @specie_status_mod_invs.each do |specie_status_mod_inv| %>
  <tr>
    <td><%= specie_status_mod_inv.status_mod.name unless specie_status_mod_inv.status_mod.blank? %></td>
    <td><%= specie_status_mod_inv.specie.name unless specie_status_mod_inv.specie.blank? %></td>
    <td><%= specie_status_mod_inv.num_of_tgt %></td>
    <td><%= specie_status_mod_inv.duration %></td>
    <td><%= link_to 'Show', specie_status_mod_inv %></td>
    <td><%= link_to 'Edit', edit_specie_status_mod_inv_path(specie_status_mod_inv) %></td>
    <td><%= link_to 'Destroy', specie_status_mod_inv, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Specie Status mod inv', new_specie_status_mod_inv_path %>
