<p id="notice"><%= notice %></p>

<p>
  <b><%= label :body_part_status_mod_inv, :status_mod %>:</b>
  <%= @body_part_status_mod_inv.status_mod.name unless @body_part_status_mod_inv.status_mod.blank? %>
</p>

<p>
  <b><%= label :body_part_status_mod_inv, :gene %>:</b>
  <%= @body_part_status_mod_inv.gene.name unless @body_part_status_mod_inv.gene.blank? %>
</p>

<p>
  <b><%= label :body_part_status_mod_inv, :num_of_tgt %>:</b>
  <%= @body_part_status_mod_inv.num_of_tgt %>
</p>

<p>
  <b><%= label :body_part_status_mod_inv, :duration %>:</b>
  <%= @body_part_status_mod_inv.duration %>
</p>

<%= link_to 'Edit', edit_body_part_status_mod_inv_path(@body_part_status_mod_inv) %> |
<%= link_to 'Back', body_part_status_mod_invs_path %>
