<p id="notice"><%= notice %></p>

<p>
  <b><%= label :status_mod, :name %>:</b>
  <%= @status_mod.name %>
</p>

<p>
  <b><%= label :status_mod, :hit_accuracy %>:</b>
  <%= @status_mod.hit_accuracy %>
</p>

<p>
  <b><%= label :status_mod, :d_range %>:</b>
  <%= @status_mod.d_range %>
</p>

<p>
  <b><%= label :status_mod, :x_range %>:</b>
  <%= @status_mod.x_range %>
</p>

<p>
  <b><%= label :status_mod, :hp_damage %>:</b>
  <%= @status_mod.hp_damage %>
</p>

<p>
  <b><%= label :status_mod, :str_mod %>:</b>
  <%= @status_mod.str_mod %>
</p>

<p>
  <b><%= label :status_mod, :dex_mod %>:</b>
  <%= @status_mod.dex_mod %>
</p>

<p>
  <b><%= label :status_mod, :con_mod %>:</b>
  <%= @status_mod.con_mod %>
</p>

<p>
  <b><%= label :status_mod, :int_mod %>:</b>
  <%= @status_mod.int_mod %>
</p>

<p>
  <b><%= label :status_mod, :wis_mod %>:</b>
  <%= @status_mod.wis_mod %>
</p>

<p>
  <b><%= label :status_mod, :cha_mod %>:</b>
  <%= @status_mod.cha_mod %>
</p>

<p>
  <b><%= label :status_mod, :ele_fw_mod %>:</b>
  <%= @status_mod.ele_fw_mod %>
</p>

<p>
  <b><%= label :status_mod, :ele_ld_mod %>:</b>
  <%= @status_mod.ele_ld_mod %>
</p>

<p>
  <b><%= label :status_mod, :phys_def_mod %>:</b>
  <%= @status_mod.phys_def_mod %>
</p>

<p>
  <b><%= label :status_mod, :skill_def_mod %>:</b>
  <%= @status_mod.skill_def_mod %>
</p>


<%= link_to 'Edit', edit_status_mod_path(@status_mod) %> |
<%= link_to 'Back', status_mods_path %>
