<h1>Listing body_parts</h1>

<table>
  <tr>
    <th><%= label :body_part, :name %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @body_parts.each do |body_part| %>
  <tr>
    <td><%= body_part.name %></td>
    <td><%= link_to 'Show', body_part %></td>
    <td><%= link_to 'Edit', edit_body_part_path(body_part) %></td>
    <td><%= link_to 'Destroy', body_part, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Body part', new_body_part_path %>
